@inherits LayoutComponentBase

@using HowsYourDayApp.Services

@inject AuthenticationService AuthenticationService
@inject NavigationManager NavigationManager

<div class="page">
    <main>
        <div class="top-row px-4">
            <button class="btn btn-primary" @onclick='() => NavigationManager.NavigateTo("/")'>Home</button>
            <button class="btn btn-primary" @onclick='() => NavigationManager.NavigateTo("/history")'>History</button>
            <button class="btn btn-secondary" @onclick="HandleLogout">Logout</button>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code
{
    private async Task HandleLogout()
    {
        await AuthenticationService.LogoutAsync();
        NavigationManager.NavigateTo("/login");
    }
}