@page "/history"

@using HowsYourDayApp.Models
@using HowsYourDayApp.Services

@inject DayService DayService
@inject NavigationManager NavigationManager

<PageTitle>History</PageTitle>

<h1>Your Previous Days</h1>

@if (intialized)
{
    @if (days == null || days.Count().Equals(0))
    {
        <p>You have not logged yet.</p>
    }
    else
    {
        <ul>
            @foreach (var day in days)
            {
                <li>(@day.LogDate.ToShortDateString()) @day.Rating: @day.Comment</li>
            }
        </ul>
    }
}

@code {
    private IEnumerable<DayEntry> days;
    private bool intialized = false;

    protected override async Task OnInitializedAsync()
    {
        await HandleFetchUserDays();
        intialized = true;
    }

    private async Task HandleFetchUserDays()
    {
        var result = await DayService.GetDaysForUserAsync();
        if (!result.IsSuccessStatusCode &&
            result.StatusCode == System.Net.HttpStatusCode.Unauthorized)
        {
            NavigationManager.NavigateTo("/login");
        }
        else
        {
            days = await result.Content.ReadFromJsonAsync<IEnumerable<DayEntry>>();
        }
    }
}
