@page "/"

@using Shared.DTOs.Day
@using HowsYourDayApp.Services

@inject DayService DayService
@inject NavigationManager NavigationManager

<PageTitle>How's Your Day?</PageTitle>

@if (intialized)
{
    @if (alreadyPosted)
    {
        <p class="rating-warning">You have already posted today. Come back tomorrow!</p>
    }
    else
    {
        <div class="form-container">
            <p class="rating-header">Hello there! How's your day?</p>
            <p class="rating-text">@createDayDTO.Rating</p>
            <Ratings Rating="createDayDTO.Rating" RatingChangedEvent="OnRatingChanged"/>
            <textarea @bind="createDayDTO.Comment" />
            <button class="btn btn-primary" @onclick="SubmitDayEntry">Submit</button>
        </div>
    }
}

@code {
    private CreateDayDTO createDayDTO = new CreateDayDTO();
    private bool alreadyPosted = false;
    private bool intialized = false;

    protected override async Task OnInitializedAsync()
    {
        await HandleFetchUserHasPostedToday();
        intialized = true;
    }

    private async Task HandleFetchUserHasPostedToday()
    {
        var result = await DayService.HasUserPostedTodayAsync();
        if (!result.IsSuccessStatusCode &&
            result.StatusCode == System.Net.HttpStatusCode.Unauthorized)
        {
            NavigationManager.NavigateTo("/login");
        }
        else
        {
            alreadyPosted = await result.Content.ReadFromJsonAsync<bool>();
        }
    }

    private void OnRatingChanged(int rating)
    {
        createDayDTO.Rating = rating;
    }

    private async Task SubmitDayEntry()
    {
        alreadyPosted = true;
        await DayService.LogDayAsync(createDayDTO);

        // Reset
        createDayDTO.Rating = 0;
        createDayDTO.Comment = String.Empty;
    }
}
