@page "/"

@using Shared.DTOs.Day
@using HowsYourDayApp.Services

@inject DayService DayService

<PageTitle>How's Your Day?</PageTitle>

<h1>Hello there! How's your day?</h1>

@if (alreadyPosted)
{
    <p>You have already posted today. Come back tomorrow!</p>
}
else
{
    <Ratings Rating="createDayDTO.Rating" RatingChangedEvent="OnRatingChanged"/>
    <br>
    <p>@createDayDTO.Rating</p>
    <input @bind="createDayDTO.Comment" />
    <br>
    <button @onclick="SubmitDayEntry">Submit</button>
}

@code {
    private CreateDayDTO createDayDTO = new CreateDayDTO();
    private bool alreadyPosted = false;

    protected override async Task OnInitializedAsync()
    {
        await HandleFetchUserHasPostedToday();
    }

    private async Task HandleFetchUserHasPostedToday()
    {
        alreadyPosted = await DayService.HasUserPostedTodayAsync();
    }

    private void OnRatingChanged(int rating)
    {
        createDayDTO.Rating = rating;
    }

    private async Task SubmitDayEntry()
    {
        alreadyPosted = true;
        await DayService.LogDayAsync(createDayDTO);

        // Reset
        createDayDTO.Rating = 0;
        createDayDTO.Comment = String.Empty;
    }
}
