@page "/login"
@layout AuthenticationLayout

@using Shared.DTOs.Account
@using HowsYourDayApp.Services

@inject AuthenticationService AuthenticationService
@inject NavigationManager NavigationManager

<PageTitle>Login</PageTitle>

<h1>Login Account Page</h1>

<input type="email" @bind="login.EmailAddress" placeholder="E-mail" />
<input type="password" @bind="login.Password" placeholder="Password" />
<button class="login-btn btn-primary" @onclick="HandleLogin">Submit</button>
<br><a href="/register">Register account</a>

<br> <p>@output</p>

@code {
    private string output = "";
    private LoginDTO login = new LoginDTO();

    private async Task HandleLogin()
    {
        try
        {
            await AuthenticationService.LoginAsync(login);
            NavigationManager.NavigateTo("/");
        }
        catch (HttpRequestException e)
        {
            output = "Login failed: " + e.Message;
        }
    }
}
