@page "/login"
@layout AuthenticationLayout

@using Shared.DTOs.Account
@using HowsYourDayApp.Services

@inject AuthenticationService AuthenticationService
@inject NavigationManager NavigationManager

<PageTitle>Login</PageTitle>

<div class="form-container">
    <form>
        <h3>Login Account Page</h3>
        <div class="form-group">
            <label class="form-label">Email address</label>
            <br>
            <input type="email" class="form-input" @bind="login.EmailAddress" placeholder="Email Address" />
        </div>
        <div class="form-group">
            <label class="form-label">Password</label>
            <br>
            <input type="password" class="form-input" @bind="login.Password" placeholder="Password" />
        </div>
        <button type="button" class="btn btn-primary" @onclick="HandleLogin">Submit</button>
        <br><p> Don't have an account yet? <a href="/register">Register account</a></p>
    </form>
</div>

<br> <p>@output</p>

@code {
    private string output = "";
    private LoginDTO login = new LoginDTO();

    private async Task HandleLogin()
    {
        try
        {
            await AuthenticationService.LoginAsync(login);
            NavigationManager.NavigateTo("/");
        }
        catch (HttpRequestException e)
        {
            output = "Login failed: " + e.Message;
        }
    }
}
