@page "/login"
@using HowsYourDayApp.Models
@using HowsYourDayApp.Services
@inject AuthenticationService AuthenticationService

<PageTitle>Login</PageTitle>

<h1>Login Account Page</h1>

<input @bind="login.EmailAddress" placeholder="E-mail" />
<input @bind="login.Password" placeholder="Password" />
<button class="login-btn btn-primary" @onclick="HandleLogin">Login</button>

<br> <p>@output</p>

@code {
    private string output = "";
    private LoginDTO login = new LoginDTO();

    private async Task HandleLogin()
    {
        try
        {
            var user = await AuthenticationService.LoginAsync(login);
            output = "Welcome! How's your day?";
        }
        catch (HttpRequestException e)
        {
            output = "Login failed: " + e.Message;
        }
    }
}
