@page "/login"
@using Shared.DTOs.Account
@using HowsYourDayApp.Services
@inject AuthenticationService AuthenticationService

<PageTitle>Login</PageTitle>

<h1>Login Account Page</h1>

<input type="email" @bind="login.EmailAddress" placeholder="E-mail" />
<input type="password" @bind="login.Password" placeholder="Password" />
<button class="login-btn btn-primary" @onclick="HandleLogin">Submit</button>
<br><a href="/register">Register account</a>

<br> <p>@output</p>

<button class="logout-btn btn-secondary" @onclick="HandleLogout">Logout</button>

@code {
    private string output = "";
    private LoginDTO login = new LoginDTO();

    private async Task HandleLogin()
    {
        try
        {
            await AuthenticationService.LoginAsync(login);
            output = "Welcome back! How's your day?";
        }
        catch (HttpRequestException e)
        {
            output = "Login failed: " + e.Message;
        }
    }

    private async Task HandleLogout()
    {
        try
        {
            await AuthenticationService.LogoutAsync();
            output = "You have been logged out.";
        }
        catch (HttpRequestException e)
        {
            output = "Logout failed: " + e.Message;
        }
    }
}
