@page "/register"
@layout AuthenticationLayout

@using Shared.DTOs.Account
@using HowsYourDayApp.Services

@inject AuthenticationService AuthenticationService
@inject NavigationManager NavigationManager

<PageTitle>Register</PageTitle>

<div class="form-container">
    <form>
        <h3>Registration Page</h3>
        <div class="form-group">
            <label class="form-label">Email address</label>
            <br>
            <input type="email" class="form-input" @bind="register.EmailAddress" placeholder="Email Address" />
        </div>
        <div class="form-group">
            <label class="form-label">Password</label>
            <br>
            <input type="password" class="form-input" @bind="register.Password" placeholder="Password" />
        </div>
        <button type="button" class="btn btn-primary" @onclick="HandleRegister">Submit</button>
        <br><p> Already have an account? <a href="/login">Sign-in instead</a></p>
    </form>
</div>

<br> <p>@output</p>

@code {
    private string output = "";
    private RegisterDTO register = new RegisterDTO();

    private async Task HandleRegister()
    {
        try
        {
            await AuthenticationService.RegisterAsync(register);
            NavigationManager.NavigateTo("login");
        }
        catch (HttpRequestException e)
        {
            output = "Login failed: " + e.Message;
        }
    }
}