@page "/register"
@layout AuthenticationLayout

@using Shared.DTOs.Account
@using HowsYourDayApp.Services

@inject AuthenticationService AuthenticationService
@inject NavigationManager NavigationManager

<PageTitle>Register</PageTitle>

<div class="form-container">
    <form>
        <h3>Registration Page</h3>
        <div class="form-group">
            <label class="form-label">Email address</label>
            <input type="email" class="form-input" @bind="register.EmailAddress" placeholder="Email Address" />
        </div>
        <div class="form-group">
            <label class="form-label">Password</label>
            <input type="password" class="form-input" @bind="register.Password" placeholder="Password" />
        </div>
        <div class="form-group">
            <label class="form-label">Re-type Password</label>
            <input type="password" class="form-input" @bind="passwordConfirmation" placeholder="Password Confirmation" />
        </div>
        <button type="button" class="btn btn-primary" @onclick="HandleRegister">Submit</button>
        <p class="form-helper"> Already have an account? <a href="/login">Sign-in instead</a></p>
    </form>
    <div class="alert alert-danger @(showAlert ? "" : "hidden")" role="alert">
        @output
    </div>
</div>

@code {
    private RegisterDTO register = new RegisterDTO();
    private string  passwordConfirmation = "";
    private string output = "";
    private bool showAlert = false;

    private async Task HandleRegister()
    {
        if (!register.Password.Equals(passwordConfirmation))
        {
            ShowAlert("The passwords do not match. Please try again.");
            return;
        }

        try
        {
            await AuthenticationService.RegisterAsync(register);
            NavigationManager.NavigateTo("login");
        }
        catch (HttpRequestException e)
        {
            if (e.StatusCode == System.Net.HttpStatusCode.BadRequest)
            {
                ShowAlert("Please enter a valid email and password.");
                return;
            }

            ShowAlert("Registration failed: " + e.Message);
        }
    }

    private void ShowAlert(string alertText)
    {
        showAlert = true;
        output = alertText;
    }
}